* {
    /* using these to override browser CSS */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size  : 15px;
    color: hsl(234, 12%, 34%);
    width: 1440px;
    margin: auto;
    overflow-x: hidden;
}

.heading {
    margin: 100px auto 45px auto;
    text-align: center;
}

.head {
    font-weight: 200;
}

.subhead {
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    color: hsl(229, 6%, 66%);
    font-size: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    /** Design has ~1.45 aspect ratio */
    width: 320px;
    height: 220px;
    border: 1px solid hsl(0, 0%, 98%);
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 10px 45px -32px rgb(30, 105, 190);
    border-radius: 5px;
    margin: 9px;
    flex-shrink : 0;
}

.item h3 {
    padding: 20px 20px 15px 20px;
}

.item p {
    padding: 0px 40px 30px 20px;
    line-height: 1.75em;
}

.inner-col {
    display: flex;
    flex-direction: column;
}

img {
    width: 45px;
    height: 45px;
    position: relative;
    left: 230px;
    padding-right: 20px;
}

img {
    width: 45px;
    height: 45px;
    position: relative;
    left: 250px;
    top: 20px;
    padding-right: 20px;


}

#super {
    border-top: 3px solid hsl(180, 62%, 55%);
    margin-top: 0;
}

#teambuild {
    border-top: 3px solid hsl(0, 78%, 62%);
    margin-top: 0;
}

#karma {
    border-top: 3px solid hsl(34, 97%, 64%);
}

#calc {
    border-top: 3px solid hsl(212, 86%, 64%);
    margin-top: 0;
}

footer {
    margin-top   : 100px;
    margin-bottom: 10px;
}


/* *this media query is triggered at displays
* LESS THAN 1000px. think of max-width as
* (less than or equal to) */

@media only screen and (max-width: 1000px) {
    body {
        width: 1200px;
        overflow-x: scroll;
    }
}


/* TODO - learn and code media queries */


/*@media only screen and (max-width: 750px) {

    .item {


width: 250px;
height: 175px;
border: 1px solid hsl(0, 0%, 98%);
box-shadow: 5px 10px 45px -32px rgb(30, 105, 190);
border-radius: 5px;
margin: 9px;
flex-shrink: 0;
}

} */

/* moved comments so comment above could be blocked  */

/** Design has ~1.45 aspect ratio */

/* offset-x | offset-y | blur-radius | spread-radius | color */